<a class="mp-nav-rail__button" mat-icon-button [routerLink]="['/groups']" routerLinkActive #rla="routerLinkActive" >
    <mat-icon>group</mat-icon>
    <span class="mp-nav-rail__label">Групи</span>
</a>

<a class="mp-nav-rail__button" mat-icon-button [routerLink]="['/setup']" routerLinkActive>
    <mat-icon>settings</mat-icon>
    <span class="mp-nav-rail__label">Процеси</span>
</a>

<a class="mp-nav-rail__button" mat-icon-button [routerLink]="['/status']" routerLinkActive>
    <mat-icon>schedule</mat-icon>
    <span class="mp-nav-rail__label">Статус</span>
</a>
