<div class="login-form__container">
    <div class="login-form__content">
        <h2 mat-dialog-title>Вхід</h2>
    
        <mat-dialog-content>
            <mat-form-field>
                <mat-label>Пошта</mat-label>
                <input matInput type="email" [(ngModel)]="email" />
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Пароль</mat-label>
                <input matInput type="password" [(ngModel)]="password" />
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button (click)="login()">Увійти</button>
        </mat-dialog-actions>
    </div>
</div>
